<div class="grid-container">
    <%= image_tag 'top-image.jpeg', alt:'イメージ', class: 'top-image'%>
  <p class="overlay-text">今日の食料品を注文して、配達またはピックアップを受けましょう。<br>地元の店舗から欲しいものが何でも、直接あなたのドアまでお届けします。</p>
  </div>
  <div class="store-choice"><p>店舗を選んで買い物体験を</p></div>
  <div class="main-container">
    <% @store.each do |store|%>
      <%= link_to publicstore_path(store.id), class: "none-text-decoration" do %>
        <div class="card mb-3 " style="width: 400px;">
          <div class="row g-0">
            <div class="col-md-4 store-logo-parent">
              <%= image_tag 'shop-solid.svg', class: 'img-fluid rounded-start store-logo', alt: 'store'%>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= store.name %></h5>
                <p class="card-text"><%= store.business_hours%></p>
                <p class="card-text"><small class="text-body-secondary"><%= store.category_id %></small></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>