<h2>ストア管理者新規登録</h2>

  <%= form_for(@store, url: store_registration_path) do |f| %>
  <div class='form-wrap'>
    <%= render "devise/shared/error_messages", resource: @store %>
    <div class='form-header'>
      <div class="field">
        <%= f.label :name, "店舗名" %><br />
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :email, "店舗メールアドレス" %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上入力してください)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "パスワード確認"%><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "NEXT" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
