<%= include_gon %>
<%= form_with model: @order_address, url: orders_path, id: 'charge-form', class: 'needs-validation card-form', novalidate: true, local: true do |f| %>
  <%= render 'error_messages', model: @order_address %>
  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        購入情報入力
      </div>
      <div class="card-body">
        <h5 class="card-title">住所</h5>
        <div class="mb-3">
          <%= f.label :postal_code, "郵便番号（ハイフンを含む）", class: 'form-label' %>
          <%= f.text_field :postal_code, value: @customer_address&.postal_code, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= f.label :pref_id, "都道府県", class: 'form-label' %>
          <%= f.collection_select :pref_id, Pref.all, :id, :name, {selected: @customer_address&.pref_id}, {class: 'form-select'} %>

        </div>
        <div class="mb-3">
          <%= f.label :city, "市町村（任意）", class: 'form-label' %>
          <%= f.text_field :city, value: @customer_address&.city, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= f.label :house_number, "番地（任意）", class: 'form-label' %>
          <%= f.text_field :house_number, value: @customer_address&.house_number, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= f.label :building_name, "建物名（任意）", class: 'form-label' %>
          <%= f.text_field :building_name, value: @customer_address&.building_name, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= f.label :phone_number, "電話番号(ハイフンなしで)", class: 'form-label' %>
          <%= f.telephone_field :phone_number, value: @customer_address&.phone_number, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= f.label :price, "金額", class: 'form-label' %>
            <%= f.text_field :price, value: @cart.total_price, readonly: true, class: "form-control price" %>
        </div>
        <div class="mb-3">
          <label for="number-form" class="form-label">カード番号</label>
          <div id="number-form" class="input-default form-control"></div>
        </div>
        <div class="mb-3">
          <label for="expiry-form" class="form-label">期限</label>
          <div id="expiry-form" class="input-default form-control"></div>
        </div>
        <div class="mb-3">
          <label for="cvc-form" class="form-label">カード背面4桁もしくは3桁の番号</label>
          <div id="cvc-form" class="input-default form-control"></div>
        </div>
        <%= f.submit "購入", class: "btn btn-primary", id: "button" %>
      </div>
    </div>
  </div>
<% end %>
