<div class="container mt-5">
  <% @customer_carts.each do |cart| %> 
  <div class="card shadow">
    <div class="card-body">
      <div class="card-header">
        <h4 class="card-title"><%= cart.store.name %></h4>
      </div>
      <% cart.cart_items.each do |item| %>
        <div class="row align-items-center mb-4">
          <div class="col-md-2">
            <h5 class="mb-0"><%= item.item.name %></h5>
          </div>
          <div class="col-md-2">
            <span class=" rounded-pill"><%= number_to_currency(item.item.price, unit: "¥", precision: 0) %></span>
          </div>
          <div class="col-md-2">
            <span class=" rounded-pill"><%= item.quantity %>個</span>
          </div>
          <div class="col-md-2">
            <span class=" rounded-pill">小計: <%= number_to_currency(item.total_price, unit: "¥", precision: 0) %></span>
          </div>
        </div>
      <% end %>
      <hr>
      <div class="row justify-content-end">
        <div class="col-md-2">
          <h5>合計金額: <span class=" rounded-pill"><%= number_to_currency(cart.total_price, unit: "¥", precision: 0) %></span></h5>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <%= link_to "買い物を続ける (#{cart.store.name})", publicstore_path(cart.store), class: "btn" %>
        </div>
        <div class="col text-end">
          <%= button_to "購入手続きへ進む", purchase_cart_path(@cart), method: :post, class: "btn", data: { confirm: "購入手続きへ進みますか？" } %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
