<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <div class="card-title h5 mb-4"><strong>現在のカート</strong></div>
      <% @cart.cart_items.each do |item| %>
        <div class="card mb-2">
          <div class="card-body">
            <%= item.item.name %>
            <span class="badge bg-warning"><%= number_to_currency(item.item.price, unit: "¥") %></span>
            × 
            <span class="badge bg-primary"><%= item.quantity %>個</span>
            ＝
            <span class="badge bg-danger"><%= number_to_currency(item.total_price, unit: "¥") %></span>
          </div>
        </div>
      <% end %>
      <div class="container mt-4">
        <span class="badge bg-secondary">合計金額</span> <span class="badge bg-success fs-5"><%= number_to_currency(@cart.total_price, unit: "¥") %></span>
      </div>
      <div class="mt-4">
        <%= button_to 'カートを空にする', @cart, method: :delete, class: 'btn btn-outline-danger', data: { turbo: false }, form: { onSubmit: "return check()" } %>
        <%= link_to "買い物に戻る", publicstore_path(@stores), class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
<script>
  function check(){
    if(window.confirm('カートを空にしますか？')){ 
      return true;
    }
    else{
      window.alert('キャンセルされました'); 
      return false; 
    }
  }
</script>