<h2>Resend confirmation instructions</h2>

<%= form_with model: @customer, url: confirmation_path(resource_name), id: 'new_user', class: 'new_user', local: true do |f| %>

  <%= render "customers/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions" %>
  </div>
<% end %>

<%= render "customers/shared/links" %>
