<h2>商品登録ページ</h2>

  <%= form_with model: @item_form, url: items_path(@item.id), method: :post, id: 'new_item', local: true do |f| %>
  <div class='form-wrap'>
    <div class='form-header'>
      <div class="field">
        <%= f.label :name, "商品名" %><br />
        <%= f.text_field :name, placeholder: 'キャベツ' %>
      </div>

      <div class="field">
        <%= f.label :image, "画像" %>
        <%= f.file_field :image%>
        <div id="previews"></div>
      </div>

      <div class="field">
        <%= f.label :price, "価格" %>
        <%= f.number_field :price, placeholder: '1000' %>
      </div>
      
      <div class="field">
        <%= f.label :sale_price, "セール価格" %>
        <%= f.number_field :sale_price, placeholder: '950' %>
      </div>

      <div class="field">
        <%= f.label :tag, "検索用タグ" %>
        <%= f.text_field :tag%>
      </div>

      <div class="field">
        <%= f.label :status, "1ロットの量" %>
        <%= f.text_field :status, placeholder: '内容量:100g' %>
      </div>

      <div class="field">
        <%= f.label :shelf_number, "棚番号" %>
        <%= f.text_field :shelf_number, placeholder: 'A'%>
      </div>

      <div class="field">
        <%= f.label :details, "商品詳細" %><br />
        <%= f.text_area :details, placeholder:'岐阜県産' %>
      </div>

      <div class="actions">
        <%= f.submit "NEXT" %>
      </div>
    <% end %>
  </div>
</div>
