<h2>商品登録ページ</h2>

  <%= form_for(@item, url: new_item_path) do |f| %>
  
  <div class='form-wrap'>
    <div class='form-header'>
      <div class="field">
        <%= f.label :name, "商品名" %><br />
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :image, "画像" %>
        <%= image_tag item.image.variant(resize: '500x500'), class: 'item_image' if item.image.attached? %>
      </div>

      <div class="field">
        <%= f.label :price, "価格" %>
        <%= f.price :price %>
      </div>
      
      <div class="field">
        <%= f.label :sale_price, "セール価格" %>
        <%= f.price :sale_price %>
      </div>

      <div class="field">
        <%= f.label :tag, "検索用タグ" %>
        <%= f.price :tag %>
      </div>

      <div class="field">
        <%= f.label :status, "1ロットの量" %>
        <%= f.price :sale_price %>
      </div>

      <div class="field">
        <%= f.label :shelf_number, "棚番号" %>
        <%= f.price :shelf_number %>
      </div>

      <div class="field">
        <%= f.label :details, "商品詳細" %><br />
        <%= f.details :details %>
      </div>

      <div class="field">
        <%= f.label :category_ids, "取り扱い商品の分類(複数選択可)" %><br />
        <% Category.all.each do |category| %>
          <div class="form-check">
            <%= check_box_tag "store[category_ids][]", category.id, @store.category_ids.include?(category.id), id: dom_id(category) %>
            <%= label_tag dom_id(category), category.name %><br>
          </div>
          <% end %>
      </div>

      <div class="actions">
        <%= f.submit "NEXT" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
